a {
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;

}

#boton {
    background-color: rgb(255, 255, 255);
    color: rgb(255, 0, 0);
    font-size: 25px;
    border-radius: 10px;
}

#facebook {
    background-color: rgb(8, 163, 224);
    color: white;
}


#instagram {
    background-color: rgb(162, 0, 255);
    color: rgb(255, 3, 100);
}

#whatsapp {
    background-color: rgb(6, 168, 6);
    color: rgb(9, 255, 9);
}

#tiktok {
    background-color: black;
    color: aquamarine;
}

#comentarios {
    border: 2px solid;
    font-size: 25px;
    background-color: white;
    color: rgb(255, 1, 1);
    border-radius: 10px;
}

#img_tiktok {
    background-color: aqua;
}
